# .coveragerc to control coverage.py
[run]
omit =
    */site-packages/*
    */distutils/*
    tests/*
    src/pkgs/assets/resources.py
    src/pkgs/*Window/*Window_auto.py

[report]
exclude_lines =
    if __name__ == .__main__.:
